pre, code {
    font-family: $code-font-family;
    font-size: 16px;
    line-height: 1.45;
}
code {
    padding: 0.2em;
    margin: 0;
}
pre code {
    padding: 0;
}
pre {
    word-wrap: normal;
    overflow: auto;

    // Extend area to outside content
    $content-width: 800px;
    $left: 25px;
    $right: 105px;
    $side-padding: 15px;

    padding: 10px $side-padding;
    position: relative;
    //left: -$left;
    //width: $content-width - 2*$side-padding + $left + $right;
    //max-width: $content-width - 2*$side-padding + $left + $right;
    //max-width: 800px;
}


// Gruvbox colorscheme
code, pre {
    //background-color: $gb-lm-bg0-soft;
    background-color: $gb-lm-bg0-hard;
    color: $gb-lm-fg0;
}
code a, code a:hover {
    color: $gb-lm-fg0;
    text-decoration: none;
}
// Just eyeballed which classes comes up, couldn't find a good reference
code.sourceCode span.kw { color: $gb-lm-light-aqua; } // Keyword
code.sourceCode span.dt { color: $gb-lm-light-yellow; } // Datatype
code.sourceCode span.dv { color: $gb-lm-light-purple; } // DecVal
code.sourceCode span.bn { color: $gb-lm-light-purple; } // BaseN
code.sourceCode span.fl { color: $gb-lm-light-purple; } // Float
code.sourceCode span.ch { color: $gb-lm-light-purple; } // Char
code.sourceCode span.st { color: $gb-lm-dark-green; } // String
code.sourceCode span.co { color: $gb-lm-fg4; font-style: italic; } // Comment
code.sourceCode span.ot { color: $gb-lm-light-aqua; } // OtherToken
code.sourceCode span.fu { color: $gb-lm-light-green; } // Function
code.sourceCode span.re { color: $gb-lm-fg3; } // Region marker
code.sourceCode span.er { color: $gb-lm-fg0; font-weight: bold; } // Error red
code.sourceCode span.al { color: $gb-lm-fg0; font-weight: bold; } // Alert red
code.sourceCode span.im { color: $gb-lm-light-orange; } // @font-face, "foo.h" in include pragma
code.sourceCode span.pp { color: $gb-lm-light-aqua; } // pragma directive
code.sourceCode span.cf { color: $gb-lm-light-red; } // for
code.sourceCode span.sc { color: $gb-lm-light-orange; } // \n
code.sourceCode span.op { color: $gb-lm-light-gray; } // Operator
code.sourceCode span.cn { color: $gb-lm-light-blue; } // CSS hash value color

