$default-font-color: $gb-lm-fg0;

html {
  /* Better box model, includes border in width calculations. */
  box-sizing: border-box;
  /* Predictable styling. */
  margin: 0;
  padding: 0;
}
body {
    text-rendering: optimizeLegibility;
    font-family: $century-supra, Georgia, serif;
    /*font-family: 'Century Supra T3', Georgia;*/
    font-size: 22px;
    line-height: 1.45;
    /*font-feature-settings: "onum", "liga";*/
    /*font-feature-settings: "ss08";*/
    font-feature-settings: 'kern' 1;

    padding: 0;
    margin: 0;

    color: $default-font-color;
    background-color: #fffffc;
}


h1, h2, h3, h4 {
    font-family: $concourse, Helvetica, sans-serif;
    line-height: 1.3;
    /*font-feature-settings: "ss01";*/

    /* figure this out...*/
    /*line-height: 1;*/
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 27px;
    margin-top: 1.2em;
    margin-bottom: 0.2em;
}
h3 {
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
h4 {
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
h1 a, h2 a, h3 a, h4 a, h5 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
    color: $default-font-color;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.article-content, .archive {
    max-width: 800px;
    background-color: green;
}

.main-lists {
    background-color: orange;
}

.site-title {
    font-size: 25px;
}

.main-tags {
    background-color: aqua;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            //flex: 1 0 25%;
            flex: 1 0 250px;
        }
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-header {
    //display: flex;
    background-color: red;
    //flex: 1;

    .nav-wrapper {
        //display: flex;
        //justify-content: right;
    }

    .site-title {
        float: right;
    }

    nav li {
        display: block;
    }
}

.site-footer {
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    nav, .lower {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav li {
        display: block;
        float: left;
        margin-right: 1.0em;
    }
}

article.project {
    width: 30%;
    //width: 400px;
    //background-color: brown;
}

//.main-wrapper {
    //width: 100%;
    //display: flex;
    //background-color: #bbb;
    //flex-wrap: wrap;
    //justify-content: center;
//}




//article {
    //width: 100%;
//}

a {
    color: #0030BB;
    //font-variant: small-caps;
}
a:visited {
    color: #8900BB;
}
a:hover {
    //color: #427b58;
}

/* Mozilla based browsers */
::-moz-selection {
       //background-color: #fabd2f;
       //color: #000;
}
/* Works in Safari */
::selection {
       //background-color: #fabd2f;
       //color: #000;
}
