$body-font-color: $gb-lm-fg0;
$body-background-color: #fffffc;

$body-link-color: #0030BB;
$body-link-visited-color: #8900BB;

* {
    // Predictable styling.
    margin: 0;
    padding: 0;
    // Better box model, includes border in width calculations.
    box-sizing: border-box;
    // Flexbox overrides min-width which makes <pre> not overflow properly
    // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
    min-width: 0;
}

html {
    font-size: 22px;
    line-height: 1.45;
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 18px;
    }
}
@media only screen and (max-width: 520px) {
    html {
        font-size: 16px;
    }
}


/*
 * Main body
 */
body {
    @extend %serif;

    color: $body-font-color;
    background-color: $body-background-color;
    //overflow-wrap: normal;
}


p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: $body-link-color;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: $body-link-visited-color;
}


body, .main-content {
    display: flex;
    flex-wrap: wrap;
}

// Avoid justify-content: center on lines with horizontal scrollbar.
// A bug that moves text off to the left without scrollbar consideration.
@media only screen and (min-width: 801px) {
    body, .main-content {
        justify-content: center;
    }
}


%body-text {
    max-width: 800px;
}

%body-wide-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    // Allow content to grow and shrink but don't factor in extra space
    // to not pop up header on top.
    flex: 1 1 0;
}


/*
 * Headers
 */
h1, h2, h3, h4 {
    @extend %sans-serif;
    line-height: 1;
}
h1 {
    font-size: 1.45rem;
}
h2 {
    font-size: 1.22rem;
    margin-top: 1.2em;
    margin-bottom: 0.2em;
}
h3 {
    font-size: 1.1rem;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
h4 {
    font-size: 0.91rem;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
h1 a, h2 a, h3 a, h4 a, h5 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
    color: $body-font-color;
}

/*
 * Navigations
 */
nav {
    @extend %sans-serif;
    font-size: 1rem;
    line-height: 1.45;

    a, a:visited {
        color: $body-font-color;
    }
}

%inline-nav {
    > ul {
        display: inline;
        li {
            display: inline;
            margin-right: 0.5em;
        }
    }
}

%fullsize-center-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*
 * Header
 */
.site-header {
    width: 100%;

    nav {
        @extend %inline-nav;
    }

    .nav-wrapper {
        @extend %fullsize-center-content;
        flex-wrap: wrap;
    }

    .site-title {
        font-size: 1rem;
        line-height: 1.45;
        margin-right: 0.8em;
    }
}


// Place header to the left of main content on large screens
@media only screen and (min-width: 970px) {
    .site-header {
        width: auto;
        padding: 0.5em;

        nav > ul {
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            li {
                display: block;
                margin: 0;
            }
        }

        .nav-wrapper {
            flex-direction: column;
            align-items: flex-end;
        }

        .site-title {
            margin: 0.2em 0 0.35em 0;
        }
    }
}

@media only screen and (max-width: 969px) {
    %body-wide-flex {
        // With header on top we can use auto again.
        // If not content will be offscreen to the right on small screens.
        flex: 1 1 auto;
    }
}


/*
 * Footer
 */
.site-footer {
    @extend %fullsize-center-content;

    flex-wrap: wrap;

    nav {
        @extend %fullsize-center-content;
        @extend %inline-nav;
    }

    .lower {
        @extend %sans-serif;
        font-size: 0.82rem;
    }
}

