.homepage {
    @extend %body-wide-flex;
    margin-bottom: 0.5em;

    h1, h2 {
        margin: 0 0 0.35em 0;
    }
}

.homepage .about {
    width: 100%;
    padding: 0.5em;
    //background-color: green;

    .about-body {
        @extend %body-text;
        // Counteract p margin
        margin-bottom: -1em;
    }
}


.homepage > .main-lists {
    padding: 0.5em;
    margin-right: 1em;
    max-width: 800px;
    flex: 1 1 auto;

    ul > li {
        display: block;
        font-family: $serif-font-family;
        font-size: 0.95rem;
    }

    li.post-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .title {
            margin-right: 0.5em;
        }
    }

    li.post-item > .date {
        font-family: $sans-serif-font-family;
        font-size: 0.91rem;
    }
}

.homepage nav a {
    color: $body-link-color;
}
.homepage nav a:visited {
    color: $body-link-visited-color;
}

.homepage > .post-links {
    @extend %inline-nav;
    width: 100%;
    padding-left: 0.5em;

    a, a:visited {
        color: $body-font-color;
    }
}

// Smaller screens take up the whole width
@media only screen and (max-width: 799px) {
    .homepage > .main-lists {
        width: 100%;
        flex: 0 1 auto;

        li.post-item .date {
            width: 100%;
            margin-bottom: 0.5em;
            display: block;
        }
    }
}

// Larger screens don't let dates get too close but keep some flex
@media only screen and (min-width: 800px) {
    .homepage > .main-lists {
        min-width: 650px;
    }
}

