.posts {
    @extend %body-text;
}

.article-content {
    @extend %body-text;
    padding: 0.5em;

    a {
        word-wrap: break-word;
    }
}

.article-content > header {
    margin-bottom: 0.4em;

    .date {
        @extend %sans-serif;
        font-size: 20px;
    }
}


/*
 * Quotes
 */
.article-content blockquote {
    font-size: 95%;
    line-height: 1.4;
    margin: 0 2em;
}


/*
 * Tables
 */
.article-content table {
    @extend %serif;
    // Need tabular numbers to align properly
    font-feature-settings: 'kern' on, 'tnum' on;
    font-size: 95%;
    margin-bottom: 1rem;
}
.article-content th, .article-content td {
    padding: 0.1em 1em 0.1em 0em;
}


/*
 * Horizontal rules
 */
$hr-color: $gb-lm-dark-gray;

.article-content hr {
    margin: 1em auto;

    border: 0;
    border-bottom: 1px solid $gb-lm-dark-gray;
}

/*
 * Footnotes
 */
.article-content .footnotes hr {
    overflow: visible; // For IE
    padding: 0;
    border: none;
    border-top: 1px solid $hr-color;

    color: $gb-lm-fg4;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    margin-top: 1.5em;
}

.article-content .footnotes hr:after {
    @extend %sans-serif;
    content: "§";
    display: inline-block;
    position: relative;
    top: -21px;
    font-size: 16px;
    padding: 0 0.3em;
    color: $body-font-color;
    background: $body-background-color;
}


/*
 * Tags
 */
.article-content .tags hr {
    margin: 0.3em auto;
    margin-top: 1em;
    border: 0;
    border-top: 1px solid $gb-lm-fg3;
}

.article-content .tags .tag-links {
    font-family: $serif-font-family;
    font-size: 90%;

    a {
        color: $body-link-color;
    }
    a:visited {
        color: $body-link-visited-color;
    }
}


/*
 * Lists
 */
.article-content {
    $left: 2rem;

    ul, ol {
        list-style: none;
        margin: 1rem 0 1rem $left;
    }
    ol {
        counter-reset: foobar;
    }
    ol li, ul li {
        margin-bottom: 0.4em;
        font-size: 95%;
        line-height: 1.35;
    }
    ol li::before {
        float: left;
        margin-left: -$left;
    }
    ul li::before {
        float: left;
        margin-left: -$left;
    }

    ol li::before {
        @extend %sans-serif;
        counter-increment: foobar;
        content: counter(foobar);
    }
    ul li::before {
        @extend %sans-serif;
        content: "»";
    }
}

.article-content > .footnotes li:before {
    @extend %serif;
}
.article-content > .footnotes .footnote-back {
    visibility: hidden;
}
.article-content > .footnotes .footnote-back:before {
    content: "↩";
    visibility: visible;
    margin-left: 0.4rem;
}


/*
 * Pretty video embedding
 */
.video-wrapper {
    margin: 1em 0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    //width: 600px;
    //max-width: 100%;
}


/*
 * Images
 */
.article-content img {
    max-width: 100%;
}

.article-content figure {
    margin-bottom: 1em;
    text-align: center;

    > figcaption {
        font-style: italic;
    }
}

.article-content figure.flex-50,
.article-content figure.flex-33,
.article-content figure.flex-25,
.article-content figure.flex-20 {
    // Multiple images share the same line and automatically flexes.
    // Caption is below and everything is centered.
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > img {
        padding: 0.1em;
    }
    > figcaption {
        width: 100%;
    }
}

.article-content figure.flex-50 > img {
    flex: 0 1 50%;
}
.article-content figure.flex-33 > img {
    flex: 0 1 33%;
}
.article-content figure.flex-25 > img {
    flex: 0 1 25%;
}
.article-content figure.flex-20 > img {
    flex: 0 1 20%;
}

.article-content figure.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 1rem 0;

    > img {
        width: 8.75em;
        padding: 0.1em;
    }
    > figcaption {
        width: 100%;
    }
}

