.post-list {
    width: 800px;
    padding: 0.5em;

    font-size: 95%;
    line-height: 1.35;

    h1 {
        margin-bottom: 0.3em;
    }

    .all-posts {
        margin-bottom: 0.3em;
    }
}

.post-list li.post-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    line-height: 1.45;

    .title {
        margin-right: 0.5em;
        flex: 1;
    }
    .date {
        @extend %sans-serif;
        width: 10em;
        font-size: 20px;

        display: flex;
        justify-content: flex-end;
        padding-right: 0.5em;
    }
}

@media only screen and (max-width: 799px) {
    .post-list {
        width: auto;
    }
    .post-list li.post-item .date {
        width: 100%;
        margin-bottom: 0.5em;
        display: block;
    }
}

