.article-content, {
    @extend %body-text;
    background-color: tomato;
}

blockquote {
    font-size: 95%;
    line-height: 1.4;
    margin: 0 2em;
}

ul {
    /*list-style: circle;*/
}
ul {
  /*list-style: none;*/
}

/*ul {*/
    /*list-style: none;*/
    /*padding: 0px;*/
/*}*/
/*li::before {*/
    /*font-family: "Concourse";*/
    /*[>content: "†";<]*/
    /*content: "•";*/
    /*float: left;*/
    /*margin-left: -2.5rem;*/
    /*margin-top: 0.1rem;*/
    /*font-feature-settings: 'onum' 1;*/
/*}*/
/*li {*/
    /*list-style: none;*/
    /*margin-left: 1.35rem;*/
    /*padding-left: 1.15rem;*/
    /*margin-bottom: 0.7em;*/
    /*[>font-size: 95%;<]*/
    /*[>line-height: 1.35;<]*/
/*}*/
li {
    margin-bottom: 0.7em;
    /*font-size: 95%;*/
    /*line-height: 1.4;*/
}
