.posts {
    @extend %body-text;
}

.article-content {
    @extend %body-text;
    //width: 100%;
    //width: 400px;
    //background-color: tomato;
    padding: 0.5em;

    //overflow-wrap: anywhere;
    //max-width: 100%;

    a {
        word-wrap: break-word;
    }
}

article blockquote {
    font-size: 95%;
    line-height: 1.4;
    margin: 0 2em;
}


.article-content > header {
    margin-bottom: 0.4em;

    h1 {
        //margin-bottom: -0.1em;
    }

    .date {
        font-family: $sans-serif-font-family;
        font-size: 20px;
    }
}

.article-content img {
    max-width: 100%;
}

$hr-color: $gb-lm-dark-gray;
//$hr-color: $gb-lm-fg4;

.article-content hr {
    margin: 1em auto;

    border: 0;
    border-bottom: 1px solid $gb-lm-dark-gray;
    //border-bottom: 1px dashed $gb-lm-dark-gray;
}
.article-content .footnotes hr {
    overflow: visible; // For IE
    padding: 0;
    border: none;
    //border-top: medium double $hr-color;
    border-top: 1px solid $hr-color;
    //border-bottom: 1px solid $hr-color;

    color: $gb-lm-fg4;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    margin-top: 1.5em;
}
.article-content .footnotes hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -21px;
    font-size: 16px;
    padding: 0 0.3em;
    color: $body-font-color;
    background: $body-background-color;
}

.article-content .tags hr {
    margin: 0.3em auto;
    margin-top: 1em;
    //border: 1px solid $body-font-color;
    border: 0;
    border-top: 1px solid $gb-lm-fg3;
    //border-bottom: 1px solid $gb-lm-fg3;

    //border-left: none;
    //border-right: none;
    //padding-top: 1px;
    //padding-bottom: 1px;
    //margin-left: 1em;
    //margin-right: 1em;
    //width: 70%;
}


.article-content .tags .tag-links {
    font-family: $serif-font-family;
    font-size: 90%;

    a {
        color: $body-link-color;
    }
    a:visited {
        color: $body-link-visited-color;
    }
}


/*
 * Pretty video embedding
 */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    //width: 600px;
    //max-width: 100%;
}



ul {
    /*list-style: circle;*/
}
ul {
  /*list-style: none;*/
}

/*ul {*/
    /*list-style: none;*/
    /*padding: 0px;*/
/*}*/
/*li::before {*/
    /*font-family: "Concourse";*/
    /*[>content: "†";<]*/
    /*content: "•";*/
    /*float: left;*/
    /*margin-left: -2.5rem;*/
    /*margin-top: 0.1rem;*/
    /*font-feature-settings: 'onum' 1;*/
/*}*/
/*li {*/
    /*list-style: none;*/
    /*margin-left: 1.35rem;*/
    /*padding-left: 1.15rem;*/
    /*margin-bottom: 0.7em;*/
    /*[>font-size: 95%;<]*/
    /*[>line-height: 1.35;<]*/
/*}*/
li {
    //margin-bottom: 0.7em;
    /*font-size: 95%;*/
    /*line-height: 1.4;*/
}
