.projects {
    @extend %body-wide-flex;

    article.project {
        max-width: 800px;
        width: 45%;
    }
}

.projects .intro {
    padding: 0.5em;
    width: 100%;

    .content {
        @extend %body-text;
    }
}

.project, .games {
    margin: 0.5em;

    h2 {
        margin: 0;
    }
}

.games {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    header {
        width: 100%;
    }
}

.game {
    width: 45%;
    margin: 0 1.5em 0.5em 0;

    img {
        float: left;
    }

    .descr {
        display: flex;
        flex-direction: column;

        padding-left: 0.2em;

        .title {
            font-family: $sans-serif-font-family;
            font-size: 24px;
            font-weight: bold;
            color: $body-font-color;
            line-height: 1.1;
        }
        .subtitle {
            font-size: 18px;
            font-style: italic;
        }
        a, a:visited {
            color: $body-font-color;
        }
        time {
            font-family: $sans-serif-font-family;
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 799px) {
    .projects article.project {
        width: 100%;
    }
    .game {
        width: 100%;
    }
}

