.projects {
    @extend %body-wide-flex;

    article.project {
        max-width: 800px;
        width: 45%;
    }
}

.projects .intro {
    padding: 0.5em;
    width: 100%;

    .content {
        @extend %body-text;
    }
}

.project, .games {
    margin: 0.5em;

    h2 {
        margin: 0;
    }
}

.project header {
    display: flex;
    //justify-content: space-between;
}
.project header > time {
    @extend %sans-serif;
    font-size: 0.8rem;
    margin-left: 0.4rem;
    margin-top: 0.12rem;
}

.games {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    header {
        width: 100%;
    }
}

.game {
    width: 45%;
    margin: 0 1.5em 0.5em 0;

    img {
        float: left;
    }

    .descr {
        display: flex;
        flex-direction: column;

        padding-left: 0.2em;

        .title {
            @extend %sans-serif;
            font-size: 1.1rem;
            font-weight: bold;
            color: $body-font-color;
            line-height: 1.1;
        }
        .subtitle {
            font-size: 0.82rem;
            font-style: italic;
        }
        a, a:visited {
            color: $body-font-color;
        }
        time {
            @extend %sans-serif;
            font-size: 0.91rem;
        }
    }
}

@media only screen and (max-width: 799px) {
    .projects article.project {
        width: 100%;
    }
    .game {
        width: 100%;
    }
}

