.series-list {
  width: 800px;
  padding: 0.5em;

  font-size: 0.95rem;
  line-height: 1.35;

  h1 {
    margin-bottom: 0.3em;
  }

  // .all-posts {
  //   margin-bottom: 0.3em;
  // }
}

.series-item header {
  h2 {
    display: inline;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 0.4em;

  .date {
    @extend %sans-serif;
    font-size: 0.91rem;
  }

  h2,
  .date,
  .status {
    margin-right: 0.4em;
  }

  .status {
    font-size: 0.8rem;
  }
}

.series-list li.series-item {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  // line-height: 1.45;
}

@media only screen and (max-width: 799px) {
  .series-list {
    width: auto;
  }
  .series-list li.series-item .date {
    width: 100%;
    margin-bottom: 0.5em;
    display: block;
  }
}
