html { font-size: 62.5%; }
body { font-size: 18px; font-size: 1.8rem; }

a {
    text-decoration:none;
    border-bottom: 1px dotted;
    color: #296894;
}

h1, h2, h3, h4, h5 {
    color:#296894;
}

a:visited {
    color: #299494;
}

a:hover {
    border-bottom: 1px solid;
    color: #B0255D;
}

h1 { font-size: 37px; font-size: 3.7rem; }
h2 { font-size: 28px; font-size: 2.8rem; }
h3, header nav { font-size: 21px; font-size: 2.1rem; }
h4 { font-size: 16px; font-size: 1.6rem; }
h5 { font-size: 12px; font-size: 1.2rem; }

.date {
    color: #333;
}

#wrapper {
    max-width: 60em;
    width: 90%;
    margin: 0 auto 2em;
}

#content {
    clear: both;
}

header nav {
    margin: 0 auto;
    padding: 0;
}

nav ul {
    padding: 0;
    height: 1.0em;
}

nav li {
    display:block;
}

nav li a {
    float: left;
    margin-right: 0.5em;
}

footer {
    margin: 2em 0;
}

/* Syntax highlighting. */
code {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 16px; font-size: 1.6rem;
}
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
    { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers
    { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
code.sourceCode span.kw { color: #007020; }
code.sourceCode span.dt { color: #902000; }
code.sourceCode span.dv { color: #40a070; }
code.sourceCode span.bn { color: #40a070; }
code.sourceCode span.fl { color: #40a070; }
code.sourceCode span.ch { color: #4070a0; }
code.sourceCode span.st { color: #4070a0; }
code.sourceCode span.co { color: #60a0b0; font-style: italic; }
code.sourceCode span.ot { color: #007020; }
code.sourceCode span.al { color: red; }
code.sourceCode span.fu { color: #06287e; }
code.sourceCode span.re { }
code.sourceCode span.er { color: red; }

/* pretty video embedding */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    width: 600px;
    max-width: 100%;
}

