html { font-size: 62.5%; }
body {
    color: #444444;
    font-family: Merriweather, Georgia, "Times New Roman", serif;
    font-size: 18px; font-size: 1.8rem;
    font-weight: 300;
    line-height: 29.7px; line-height: 2.97rem;
}

a {
    text-decoration:none;
    border-bottom: 1px dotted;
    color: #296894;
}

h1, h2, h3, h4, h5 {
    color:#296894;
}

a:visited {
    color: #299494;
}

a:hover {
    border-bottom: 1px solid;
    color: #B0255D;
}

h1 { font-size: 37px; font-size: 3.7rem; }
h2 { font-size: 28px; font-size: 2.8rem; }
h3, header nav { font-size: 21px; font-size: 2.1rem; }
h4 { font-size: 16px; font-size: 1.6rem; }
h5 { font-size: 12px; font-size: 1.2rem; }

.date {
    color: #333;
}

#wrapper {
    max-width: 60em;
    width: 90%;
    margin: 0 auto 2em;
}

#content {
    clear: both;
}

header nav {
    margin: 0 auto;
    padding: 0;
}

nav ul {
    padding: 0;
    height: 1.0em;
}

nav li {
    display:block;
}

nav li a {
    float: left;
    margin-right: 0.5em;
}

footer {
    margin: 2em 0;
}


/* Syntax highlighting. */
code {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 16px; font-size: 1.6rem;
    padding: 3px; padding: 0.3rem;
}

pre {
    font-size: 14px; font-size: 1.4rem;
    word-wrap: normal;
    overflow: auto;
    padding: 10px 16px; padding: 1.0rem 1.6rem;
    line-height: 1.3;
}

pre code {
    padding: 0;
}

/* Adaptation of the gruvbox theme */
code, pre { background-color: #f2e5bc; } /* Hard contrast */
code.sourceCode span.kw { color: #9d0006; } /* Keyword red */
code.sourceCode span.dt { color: #b57614; } /* Datatype yellow */
code.sourceCode span.dv { color: #8f3f71; } /* DecVal purple */
code.sourceCode span.bn { color: #8f3f71; } /* BaseN purple */
code.sourceCode span.fl { color: #8f3f71; } /* Float purple */
code.sourceCode span.ch { color: #4070a0; } /* Char purple */
code.sourceCode span.st { color: #79740e; } /* String green */
code.sourceCode span.co { color: #928374; font-style: italic; } /* Comment medium */
code.sourceCode span.ot { color: #427b56; } /* OtherToken aqua */
code.sourceCode span.fu { color: #79740e; } /* Function green */
code.sourceCode span.re { color: #af3a03; } /* Region marker orange */
code.sourceCode span.er { color: #9d0006; font-weight: bold; } /* Error red */
code.sourceCode span.al { color: #9d0006; font-weight: bold; } /* Alert red */

/* TODO if I ever want to start using line numbers (with {.C .numberLines} for example)
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
}
td.lineNumbers {
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
    padding-right: 5px;
    padding-left: 5px;
}
td.sourceCode { padding-left: 5px; }
*/

/* pretty video embedding */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    width: 600px;
    max-width: 100%;
}

