@use "../../global/melange" as *;

.keycap,
.legend {
  .outer.border {
    fill: var(--key-fill);
    filter: brightness(1);
  }
  .inner.border {
    fill: var(--key-fill);
    filter: brightness(1.2);
  }

  &.blank {
    --key-fill: var(--melange_a_float);
    .outer.border {
      filter: brightness(1);
    }
    .inner.border {
      filter: brightness(1.1);
    }
    text {
      fill: var(--melange_a_fg);
    }
  }
  &.default {
    --key-fill: #{$melange_dark_a_com};
    .outer.border {
      filter: brightness(1.2);
    }
    .inner.border {
      filter: brightness(1.4);
    }
  }
  &.management {
    --key-fill: var(--melange_a_ui);
    .outer.border {
      filter: brightness(1.2);
    }
    .inner.border {
      filter: brightness(1.4);
    }
  }
  &.mod1 {
    --key-fill: var(--melange_c_green);
  }
  &.mod_down {
    --key-fill: #{$melange_dark_b_green};
  }
  &.mod_implicit {
    --key-fill: var(--melange_c_cyan);
  }
  &.layer1 {
    --key-fill: var(--melange_c_blue);
  }
  &.layer_down {
    --key-fill: #{$melange_dark_b_blue};
  }
  &.layer_toggle {
    --key-fill: var(--melange_c_red);
  }
  &.active_layer {
    --key-fill: #{$melange_dark_b_red};
  }
  &.combo {
    --key-fill: white;
  }
  &.dead_key {
    --key-fill: #{$melange_dark_c_yellow};
  }
  &.special {
    --key-fill: #{$melange_dark_b_yellow};
  }
}

@media (prefers-color-scheme: dark) {
  .keycap,
  .legend {
    .outer.border {
      fill: var(--key-fill);
      filter: brightness(0.8);
    }
    .inner.border {
      fill: var(--key-fill);
      filter: brightness(1);
    }

    &.blank {
      --key-fill: var(--melange_a_sel);
      .outer.border {
        filter: brightness(1);
      }
      .inner.border {
        filter: brightness(1.1);
      }
      text {
        fill: var(--melange_a_fg);
      }
    }
    &.default {
      --key-fill: var(--melange_a_com);
      /* --key-fill: var(--melange_a_float); */
      .outer.border {
        filter: brightness(1);
      }
      .inner.border {
        filter: brightness(1.2);
      }
    }
    &.management {
      --key-fill: var(--melange_a_ui);
      .outer.border {
        filter: brightness(1);
      }
      .inner.border {
        filter: brightness(1.2);
      }
    }
    &.mod1 {
      --key-fill: var(--melange_c_green);
    }
    &.mod_down {
      --key-fill: var(--melange_b_green);
    }
    &.mod_implicit {
      --key-fill: var(--melange_c_cyan);
    }
    &.layer1 {
      --key-fill: var(--melange_c_blue);
    }
    &.layer_down {
      --key-fill: var(--melange_b_blue);
    }
    &.layer_toggle {
      --key-fill: var(--melange_c_red);
    }
    &.active_layer {
      --key-fill: var(--melange_b_red);
    }
    &.combo {
      --key-fill: black;
    }
    &.dead_key {
      --key-fill: var(--melange_c_yellow);
    }
    &.special {
      --key-fill: var(--melange_b_yellow);
    }
  }
}
