// FIXME set line-height: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/

// Use our generation from fluid2 instead
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
// :root {
//   /* Step -2: 12.50px → 12.80px */
//   --f-2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
//   /* Step -1: 15.00px → 16.00px */
//   --f-1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
//   /* Step 0: 18.00px → 20.00px */
//   --f0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
//   /* Step 1: 21.60px → 25.00px */
//   --f1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
//   /* Step 2: 25.92px → 31.25px */
//   --f2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
//   /* Step 3: 31.10px → 39.06px */
//   --f3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
//   /* Step 4: 37.32px → 48.83px */
//   --f4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
//   /* Step 5: 44.79px → 61.04px */
//   --f5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);
//   /* Step 6: 53.75px → 76.29px */
//   --f6: clamp(3.36rem, calc(2.87rem + 2.45vw), 4.77rem);
// }

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8|12|16|24|32|40|48,s-l&g=s,l,xl,12 */

// FIXME autogenerate these as well
:root {
  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);
  /* Space 4xl: 144px → 160px */
  --space-4xl: clamp(9rem, calc(8.65rem + 1.74vw), 10rem);
  /* Space 5xl: 216px → 240px */
  --space-5xl: clamp(13.5rem, calc(12.98rem + 2.61vw), 15rem);
  /* Space 6xl: 288px → 320px */
  --space-6xl: clamp(18rem, calc(17.3rem + 3.48vw), 20rem);
  /* Space 7xl: 432px → 480px */
  --space-7xl: clamp(27rem, calc(25.96rem + 5.22vw), 30rem);
  /* Space 8xl: 576px → 640px */
  --space-8xl: clamp(36rem, calc(34.61rem + 6.96vw), 40rem);
  /* Space 9xl: 720px → 800px */
  --space-9xl: clamp(45rem, calc(43.26rem + 8.7vw), 50rem);
  /* Space 10xl: 864px → 960px */
  --space-10xl: clamp(54rem, calc(51.91rem + 10.43vw), 60rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 10px */
  --space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);

  /* Space xs-s: 14px → 20px */
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
  /* Space m-l: 27px → 40px */
  --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
  /* Space l-xl: 36px → 60px */
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
  /* Space 2xl-3xl: 72px → 120px */
  --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);
  /* Space 3xl-4xl: 108px → 160px */
  --space-3xl-4xl: clamp(6.75rem, calc(5.62rem + 5.65vw), 10rem);
  /* Space 4xl-5xl: 144px → 240px */
  --space-4xl-5xl: clamp(9rem, calc(6.91rem + 10.43vw), 15rem);
  /* Space 5xl-6xl: 216px → 320px */
  --space-5xl-6xl: clamp(13.5rem, calc(11.24rem + 11.3vw), 20rem);
  /* Space 6xl-7xl: 288px → 480px */
  --space-6xl-7xl: clamp(18rem, calc(13.83rem + 20.87vw), 30rem);
  /* Space 7xl-8xl: 432px → 640px */
  --space-7xl-8xl: clamp(27rem, calc(22.48rem + 22.61vw), 40rem);
  /* Space 8xl-9xl: 576px → 800px */
  --space-8xl-9xl: clamp(36rem, calc(31.13rem + 24.35vw), 50rem);
  /* Space 9xl-10xl: 720px → 960px */
  --space-9xl-10xl: clamp(45rem, calc(39.78rem + 26.09vw), 60rem);
}
