@mixin large-underline-highlight($color, $border: 4px) {
  border-bottom: $border solid $color;
}

@mixin large-link-underline-highlight($color, $border: 4px) {
  & > a {
    @include large-underline-highlight($color, $border);
    text-decoration: none;
  }
  & > a:hover {
    @include large-underline-highlight(var(--color-link-hover), $border);
    text-decoration: none;
  }
}
