@use "../global/font_size" as *;
@use "../components/system" as *;

.post-items {
  --flow-space: var(--space-s);

  .post-item {
    h2 {
      @include font-size("l");
    }

    .favorite {
      vertical-align: text-top;
      &,
      a {
        color: var(--color-highlight-favorite);
      }
      a:hover {
        color: var(--color-link-hover);
      }
    }
  }
}
