{% import "post_info.html" as macros %} {% extends "site.html" %} {% block
content %}
<article class="archive">
  {% if tag_filter %}
  <div class="tagged">
    <div class="tagged_by">Posts tagged</div>
    <h1><span>{{ title }}</span></h1>
  </div>
  {% else %}
  <h1><span>{{ title }}</span></h1>

  {% if url == "/blog" %}
  <div class="favorite-descr">
    My <a href="/favorite">favorite posts</a> are marked with a <span class="favorite">★</span>.
  </div>
  {% endif %}

  {% endif %} {{ macros::post_items(posts=posts) }}
</article>
{% endblock content %}
