{% import "post_info.html" as macros %} {% extends "site.html" %} {% block
content %}
<div class="homepage">
  <article class="homepage-hello">
    <p>
      Hi! I'm <strong>Jonas Hietala</strong>, a writer, developer and wannabe
      code monkey.
      <br />
      <a href="mailto:{{mail}}">Say hello</a>, or keep reading.
    </p>
  </article>

  <article class="homepage-posts">
    <h2>Posts</h2>

    <hr class="recent" />

    {{ macros::post_items(posts=recent) }}

    <hr class="featured" />

    {{ macros::post_items(posts=recommended) }}

    <nav class="">
      <a href="/archive">See more posts</a>
      <a href="/blog/tags">Tags</a>
    </nav>
  </article>

  <article class="series">
    <h2>Series</h2>

    {% include "series_info.html" %}
  </article>

  <article class="projects">
    <h2>Projects</h2>

    {% include "project_info.html" %}
  </article>
</div>
{% endblock content %}
