{% extends "site.html" %} {% block content %}
<div class="homepage">
  <div class="about">
    <h1>About me</h1>

    <div class="about-body">{{about}}</div>
  </div>

  <nav class="main-lists">
    <h2>Recent posts</h2>

    <ul>
      {% for post in recent %}
      <li class="post-item">
        <a href="{{ post.url }}" class="title">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <nav class="main-lists">
    <h2>Recommended posts</h2>

    <ul>
      {% for post in recommended %}
      <li class="post-item">
        <a href="{{ post.url }}" class="title">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <nav class="post-links">
    <ul>
      <li><a href="/archive">All posts</a></li>
      <li><a href="/blog">All posts on one page</a></li>
      <li><a href="/blog/tags">Browse tags</a></li>
    </ul>
  </nav>
</div>
{% endblock content %}
