<article class="article-content">
  <header>
    <h1><a href="$url$">$title$</a></h1>
    <span class="date">
      <time datetime='$ymd$'>$date$</time>
    </span>
  </header>

  $body$

  <div class="tags">
    <hr />

    <nav class="tag-links">
      Posted in $linked_tags$.
    </nav>
  </div>

  <nav class="post-nav">
    $if(prevPostUrl)$
      <a href="$prevPostUrl$" class="prev">⇜ $prevPostTitle$</a>
    $endif$
    $if(nextPostUrl)$
      <a href="$nextPostUrl$" class="next">$nextPostTitle$ ⇝</a>
    $endif$
  </nav>
</article>

