{% extends "site.html" %} {% block content %}
<article class="article-content">
  <header>
    {% if series %}
    <h2 class="series">
      <a href="{{series.url}}" title="{{series.title}} series"
        >{{series.title}}</a
      >
    </h2>
    {% endif %}
    <h1><a href="{{url}}">{{title}}</a></h1>
    {% if created_date %}
    <div class="below">
      <div class="created">
        <time datetime="{{created_ymd}}" title="{{created_ymd}}"
          >{{created_date}}</time
        >
      </div>
      <nav class="tag-links">
        {% for tag in tags %}{% if loop.index0 > 0 %}, {% endif %}<a
          href="{{ tag.href }}"
          title="Posts tagged `{{tag.name}}`"
          >{{ tag.name }}</a
        >{% endfor %}
      </nav>
    </div>
    {% endif %}
  </header>

  {% if series %}
  <div class="post-series post-series-head">
    <div>
      This is part {{series.part_number}} of the
      <a href="{{series.url}}">{{series.title}}</a> series.
    </div>

    <div>{{series.post_note}}</div>
  </div>
  {% endif %} {{content}} {% if series %}
  <div class="post-series post-series-footer">
    <div>
      {% if series.last_part %} This is the last part of the
      <a href="{{series.url}}">{{series.title}}</a> series. {% else %} This is
      part {{series.part_number}} of the
      <a href="{{series.url}}">{{series.title}}</a> series. {% endif %}
    </div>

    {% if not series.next_url %}
    <div>
      {% if series.completed %} This series is completed. {% else %} This series
      is ongoing. {% endif %}
    </div>
    {% endif %}

    <div>
      {% if series.next_url %}
      <a href="{{series.next_url}}">Read the next part</a>
      {% else %}
      <a href="/series">View all series</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="post-footer">
    <nav class="tag-links">
      {% for tag in tags %}{% if loop.index0 > 0 %}, {% endif %}<a
        href="{{ tag.href }}"
        title="Posts tagged `{{tag.name}}`"
        >{{ tag.name }}</a
      >{% endfor %}
    </nav>

    <nav class="post-nav">
      <span class="prev">
        {% if prev %}
        <a href="{{ prev.url }}" title="{{ prev.title }}">Previous</a>
        {% endif %}
      </span>
      <span class="next">
        {% if next %}
        <a href="{{ next.url }}" title="{{ next.title }}">Next</a>
        {% endif %}
      </span>
    </nav>
  </div>
</article>
{% endblock content %}
