<h1>My projects</h1>

<article>
    <header class="project">
      <h2 class="name"><a href="http://github.com/treeman/7days">7days</a></h2>
    </header>

    <p>A fast prototyping framework made in C++ and <a href="http://www.sfml-dev.org/" title="SFML graphics library for C++">SFML</a>. I didn't develop it as much as it's a collection of stuff I've found useful when making games.</p>

  </article>

  <article>
    <header class="project">
      <h2 class="name"><a href="http://github.com/treeman/Digital-konstruktion">MARC</a></h2>
    </header>

    <p>Me and two other students made a VHDL implementation of the <a href="http://corewar.co.uk/icws88.txt" title="The Core Wars 88 standard">Core Wars 88 standard</a>. Core Wars is basically a computer game where two programs compete and try to destroy each other. Read <a href="http://en.wikipedia.org/wiki/Core_War" title="Core War">the wiki</a> for more info. We designed a microprogrammed processor with a Redcode assembler and wrote some warriors for it.</p>

  </article>

  <article>
    <header class="project">
      <h2 class="name"><a href="http://github.com/treeman/Mangaprobe">Mangaprobe</a></h2>
    </header>

    <p>A simple script which tracks the latest release of mangas from various sites.</p>

  </article>

  <article>
    <header class="project">
      <h2 class="name"><a href="http://github.com/treeman/jonashietala">This Website</a></h2>
    </header>

    <p>This website is a static one made with <a href="http://jaspervdj.be/hakyll/">Hakyll</a>.</p>

  </article>

  <article>
    <header class="project">
      <h2 class="name"><a href="http://github.com/treeman/Timelapse">Timelapse</a></h2>
    </header>

    <p>Very simple fast and brutal timelapse creation tool for linux.</p>

  </article>

  <article>
    <header class="project">
      <h2 class="name"><a href="http://github.com/treeman/Treebot">Treebot</a></h2>
    </header>

    <p>An old irc bot with funny quotes and various information scraping like a new manga and tv-series tracker. A bit more to it than the <a href="http://github.com/treeman/Treebot/blob/master/script/simplebot.pl" title="A very simple irc bot">simplebot</a>.</p>

  </article>

  <article>
    <header class="project">
      <h2 class="name"><a href="http://github.com/treeman/dotfiles">dotfiles</a></h2>
    </header>

    <p>Some are incomplete and unused, but others such as <a href="http://github.com/treeman/dotfiles/blob/master/.vimrc" title=".vimrc I use">.vimrc</a> are more complete. I also have my <a href="http://xmonad.org/" title="xmonad a nice tiling window manager">xmonad</a> dual screen setup and some scripts for the desktop there.</p>


  </article>

  <article>
    <header class="project">
      <h2 class="name"><a href="http://github.com/treeman/rustbot">rustbot</a></h2>
    </header>

    <p>A simple IRC bot written in <a href="http://www.rust-lang.org/">rust</a>.

  </article>

