{% import "post_info.html" as macros %} {% extends "site.html" %} {% block
content %}
<article class="series">
  <header>
    <h1><a href="{{url}}">{{title}}</a></h1>
  </header>

  <figure>
    <img src="{{img}}" />
  </figure>

  <div class="series-description">
    {{description}} {% set part1 = posts | first %}
  </div>
  {% if post_note %}
  <div class="post_note">{{post_note}}</div>
  {% endif %}
  <div class="read-part-1"><a href="{{ part1.url }}">Read part 1</a></div>

  {{ macros::post_items(posts=posts) }}

  <footer class="series-footer">
    <div>
      {% if completed %} This series is completed. {% else %} This series is
      ongoing. {% endif %}
    </div>
  </footer>
</article>
{% endblock content %}
