<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Jonas Hietala: $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="/feed.xml" />
        $metaKeywords$
    </head>
    <body>
      <div id="wrapper">
        <header>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/archive">Archive</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="https://github.com/treeman">Code</a></li>
            </nav>
        </header>

        <div id="content">
            $body$
        </div>

        <footer>
            <nav>
              <ul>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/recommendations">Recommendations</a></li>
                <li><a href="/feed.xml">Feed</a></li>
              </ul>
            </nav>

            <div class=lower>
                Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
                Check out the <a href="https://github.com/treeman/jonashietala">source code</a> to this site.
            </div>
        </footer>
      </div>
    </body>
</html>

