<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Jonas Hietala: {{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Atom 0.3"
      href="/feed.xml"
    />
    <meta
      name="keywords"
      content="{% for keyword in meta_keywords %}{% if loop.index0 > 0 %}, {% endif %}{{ keyword }}{% endfor %}"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta name="author" content="Jonas Hietala" />
  </head>

  <body>
    <div class="main-content">
      <header class="site-header">
        <div class="nav-wrapper">
          <span class="site-title"><a href="/">~jonashietala.se</a></span>
          <nav>
            <ul>
              <li><a href="/archive" class="archive {% if nav_highlight == "archive" %}highlight{% endif %}">Archive</a></li>
              <li><a href="/series" class="series {% if nav_highlight == "series" %}highlight{% endif %}">Series</a></li>
              <li><a href="/projects" class="projects {% if nav_highlight == "projects" %}highlight{% endif %}">Projects</a></li>
              <li><a href="mailto:{{mail}}" class="contact {% if nav_highlight == "contact" %}highlight{% endif %}">Contact</a></li>
              {% if include_drafts %}
              <li><a href="/drafts" class="drafts {% if nav_highlight == "drafts" %}highlight{% endif %}">Drafts</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </header>

      {% block content %}{% endblock content %}
    </div>

    <footer class="site-footer">
      <div class="upper">
        <nav>
          <ul>
            <!-- Blog -->
            <li><a href="/archive">Archive</a></li>
            <li><a href="/series">Series</a></li>
            <li><a href="/blog/tags">Tags</a></li>
            <li><a href="/feed.xml">RSS</a></li>
          </ul>
        </nav>

        <nav>
          <ul>
            <!-- Projects -->
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://github.com/treeman">GitHub</a></li>
            <li><a href="/uses">Uses</a></li>
          </ul>
        </nav>

        <nav>
          <ul>
            <!-- Work/about/other -->
            <li><a href="mailto:{{mail}}">Contact</a></li>
            <li><a href="/gpg">GPG</a></li>
          </ul>
        </nav>
      </div>

      <div class="lower">
        Check out the
        <a href="https://github.com/treeman/jonashietala">source code</a> for
        the site.
      </div>
    </footer>
  </body>
</html>
