@use "../components/system" as *;
@use "../global/fonts" as *;
@use "../global/font_size" as *;

.homepage {
  > article:not(:first-child) {
    margin-top: var(--space-l);
  }

  > article.homepage-posts > .section-title {
    border-left: 4px solid var(--color-highlight-archive);
  }
  > article.series > .section-title {
    border-left: 4px solid var(--color-highlight-series);
  }
  > article.projects > .section-title {
    border-left: 4px solid var(--color-highlight-projects);
  }
  > article > .section-title {
    padding-left: var(--space-2xs);
  }
  > article > .section-title ~ :is(article, section) {
    margin-block-start: var(--space-xs);
  }

  .homepage-posts > hr {
    overflow: visible;
    padding: 0;
    margin: 0;
    margin-top: var(--space-m);
    margin-bottom: -1rem;
    border: none;
    border-top: 2px solid var(--color-hr);
    text-align: center;
    width: 20%;

    &.recent:after,
    &.featured:after {
      @include sans-serif;
      @include font-size("s");
      color: var(--color-highlight-archive);
      position: relative;
      top: -2ch;
      padding: 0 var(--space-3xs);
      background-color: var(--color-background);
    }

    &.recent:after {
      content: "Recent";
    }
    &.featured:after {
      content: "Featured";
    }
  }
}
