@use "../global/fonts" as *;
@use "../global/font_size" as *;
@use "../global/melange" as *;
@use "../global/spacing" as *;
@use "../components/system" as *;

@mixin extra-space-s {
  margin: var(--space-s) 0 calc(var(--space-s) - var(--space-xs)) 0;
}
@mixin extra-space-m {
  margin: var(--space-m) 0 calc(var(--space-m) - var(--space-xs)) 0;
}

article.article-content {
  @include full-bleed-wrapper;

  /*
   * General setup
   */
  a {
    word-wrap: break-word;
  }

  // TODO should use a --gap variable and move this into systems
  & > * + * {
    margin-block-start: var(--space-xs);
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    & > a:not(:first-of-type) {
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin-block-start: var(--space-m);
    }
  }

  header > h2.series {
    & > a {
      @include font-size("l");
      border-bottom: 4px solid var(--color-highlight);
      text-decoration: none;
    }
    & > a:hover {
      border-bottom: 4px solid var(--color-link-hover);
      text-decoration: none;
      color: var(--color-text);
    }
  }
  header > h1 {
    margin-block-start: var(--space-xs);
  }
  header > h1 a:hover {
    text-decoration: none;
  }
  header > .below {
    @extend %sans-serif;
    @include font-size("s");
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
    margin-block-start: var(--space-3xs);
  }
  header > .below > * + * {
    margin-inline-start: var(--space-xs);
  }
  .tag-links a {
    color: var(--color-tags);
  }
  .tag-links a:hover {
    color: var(--color-tags-hover);
  }

  .post-series-footer,
  .post-series-head {
    background-color: var(--melange_a_float);
    padding: var(--space-xs);
    @include extra-space-s;
    border: 1px dashed var(--melange_c_red);
  }

  /*
   * Code
   */
  pre,
  code {
    font-family: $code-font-family;
    // Hack is quite a bit larger than the other fonts
    // Should maybe use Triplicate instead?
    font-size: 0.95rem;
  }

  pre code {
    padding: 0;
    width: 100%;
    max-inline-size: none;
  }
  pre.wide {
    @include overflow-bleed;
  }
  pre {
    max-inline-size: none;
    padding: var(--space-xs);
    overflow-wrap: normal;
    overflow: auto;
  }
  code {
    padding: 0.2rem;
    margin: 0;
  }

  // mmh... This isn't very pretty I know.
  // But I guess it's good enough.
  pre {
    code.highlight::before {
      float: right;
      @include font-size("s");
      color: var(--melange_a_ui);
      position: relative;
      top: -0.5rem;
      left: 0.1rem;
    }
    code.highlight.python::before {
      content: "python";
    }
    code.highlight.fish::before {
      content: "fish";
    }
    code.highlight.c::before {
      content: "c";
    }
    code.highlight.bash::before {
      content: "bash";
    }
    code.highlight.html::before {
      content: "html";
    }
    code.highlight.js::before {
      content: "js";
    }
    code.highlight.haskell::before {
      content: "haskell";
    }
    code.highlight.pollen::before {
      content: "pollen";
    }
    code.highlight.racket::before {
      content: "racket";
    }
    code.highlight.json::before {
      content: "json";
    }
    code.highlight.md::before {
      content: "markdown";
    }
    code.highlight.css::before {
      content: "css";
    }
    code.highlight.diff::before {
      content: "diff";
    }
    code.highlight.lua::before {
      content: "lua";
    }
    code.highlight.markdown::before {
      content: "markdown";
    }
    code.highlight.ml::before {
      content: "ml";
    }
    code.highlight.perl::before {
      content: "perl";
    }
    code.highlight.ruby::before {
      content: "ruby";
    }
    code.highlight.rust::before {
      content: "rust";
    }
    code.highlight.scss::before {
      content: "scss";
    }
    code.highlight.shell::before {
      content: "shell";
    }
    code.highlight.vhdl::before {
      content: "vhdl";
    }
    code.highlight.vim::before {
      content: "vimscript";
    }
    code.highlight.xml::before {
      content: "xml";
    }
    code.highlight.yaml::before {
      content: "yaml";
    }
  }

  /*
   * Quotes
   */
  & blockquote {
    font-size: 95%;
    padding-inline-start: var(--space-m);
    padding-block: var(--space-2xs);

    & > * + * {
      margin-block-start: var(--space-xs);
    }
  }
  & > blockquote {
    border-left: 3px solid var(--color-blockquote-bar);
  }
  .epigraph {
    margin-block: var(--space-l);
    font-style: italic;
  }
  blockquote > footer {
    font-size: 90%;
    text-align: right;
  }

  /*
   * Tables
   */
  table {
    @extend %serif;
    // Need tabular numbers to align properly
    font-feature-settings: "kern" on, "tnum" on;
  }
  th,
  td {
    padding: var(--space-3xs) var(--space-s) var(--space-3xs) 0;
  }

  // This is just for one single post
  table.movie-table {
    width: 100%;

    td:first-of-type {
      width: 25ch;
    }
  }
  table.center {
    margin: 0 auto;
  }

  /*
   * Horizontal rules
   */
  hr {
    // Remove article based spacing
    @include extra-space-m;
  }

  /*
   * Lists
   */
  $left: 2rem;

  ul,
  ol {
    list-style: none;
    margin-left: $left;
  }
  ol {
    counter-reset: ordered-counter;
  }
  // Consistent spacing between items
  ol > * + *,
  ul > * + * {
    margin-block-start: var(--space-xs);
  }
  // Consistent spacing inside items
  li > * + * {
    margin-block-start: var(--space-xs);
  }
  // Replace standard item bullets/numbers with our own
  // and add in some spacing.
  ol > li::before,
  ul > li::before {
    float: left;
    margin-left: -$left;
    color: var(--color-list-bullet);
  }
  ol > li::before {
    @extend %sans-serif;
    counter-increment: ordered-counter;
    content: counter(ordered-counter);
  }
  ul > li::before {
    @extend %sans-serif;
    content: "•";
  }

  /*
   * Images
   */
  img {
    max-width: 100%;
  }

  // This little beauty is here because once upon a time I was dumb,
  // and created some svg files with transparent backgrounds.
  // It's not great on a dark background when all text is also dark.
  @media (prefers-color-scheme: dark) {
    img {
      background-color: $melange_light_a_bg;
    }
  }

  figure figcaption {
    overflow-wrap: break-word;
  }

  figure {
    @include overflow-bleed;
    @include extra-space-s;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    figcaption {
      font-style: italic;
      width: 100%;
    }
  }

  // Multiple images share the same line and automatically flexes.
  // Caption is below and everything is centered.
  figure {
    img {
      padding: 0.1em;
    }
  }

  figure.flex-50 a,
  figure.flex-50 img {
    flex: 0 1 50%;
  }
  figure.flex-33 a,
  figure.flex-33 img {
    flex: 0 1 33%;
  }
  figure.flex-25 a,
  figure.flex-25 img {
    flex: 0 1 25%;
  }
  figure.flex-20 a,
  figure.flex-20 img {
    flex: 0 1 20%;
  }

  figure.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--space-3xs);
  }

  /*
   * Aside/notice
   */
  aside {
    background-color: var(--melange_a_float);
    padding: var(--space-xs);
    @include extra-space-s;
    border: 1px dashed var(--melange_c_red);
  }

  /*
   * Pretty video embedding
   */
  .video-wrapper {
    @include overflow-bleed;
    --measure: 100%;
    @include extra-space-s;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
