@use "../global/fonts" as *;
@use "../components/system" as *;

.timeline-1 {
  .events::before {
    // We need some content for the element to show up.
    content: "";
    // Use absolute positioning to
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: var(--color-hr);
  }

  .events {
    position: relative;
    margin: 0.5em;
  }

  .events::before {
    background: var(--color-hr);
  }
  .event.life .marker {
    fill: var(--melange_b_yellow);
  }
  .event.programming .marker {
    fill: var(--melange_b_magenta);
  }
  .event.family .marker {
    fill: var(--melange_b_red);
  }
  .content time {
    font-family: concourse_4, Helvetica, sans-serif;
    font-weight: bold;
  }
}

.timeline-2 {
  .event {
    display: flex;
  }
}

.timeline-3 {
  .event .marker {
    position: relative;
    left: -6px;
    top: 6px;
  }
}

.timeline-4 {
  .event .marker {
    position: relative;
    left: -6px;
    top: 0px;
  }
  .event {
    align-items: baseline;
  }
}

.timeline-5 {
  .events {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }
}

@media (min-width: 700px) {
  .timeline-6 {
    .events::before {
      left: 50%;
    }
  }

  .timeline-7 {
    // Move marker to the middle.
    .event .marker {
      order: 1;
    }
  }

  .timeline-8 {
    .event .content {
      width: 50%;
    }
  }

  .timeline-9 {
    .event .content {
      text-align: right;
      padding-inline: 1em;
    }
  }

  .timeline-10 {
    .event:is(.programming, .work, .projects) {
      flex-direction: row-reverse;

      .marker {
        left: 6px;
      }

      .content {
        text-align: left;
      }
    }
  }
}

.timeline-done {
  // The line in the middle.
  .events::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: var(--color-hr);
  }

  .events {
    // Needed for positioning the line.
    position: relative;
    // Add some space.
    display: flex;
    margin: 0.5em;
    flex-direction: column;
    row-gap: 1em;
  }

  .event {
    // Layout content and marker using flexbox.
    display: flex;
    // Align marker vertically.
    align-items: baseline;
  }
  .event .marker {
    // Adjust marker to center on the line.
    position: relative;
    left: -6px;
  }

  // Some coloring to make our life easier.
  .event.life .marker {
    fill: var(--melange_b_yellow);
  }
  .event.programming .marker {
    fill: var(--melange_b_magenta);
  }
  .event.family .marker {
    fill: var(--melange_b_red);
  }
  .content time {
    font-family: concourse_4, Helvetica, sans-serif;
    font-weight: bold;
  }
}

// When the screen is at least 700px wide layout
// events to the sides of a centered line.
@media (min-width: 700px) {
  .timeline-done {
    // Place the line in the middle.
    .events::before {
      left: 50%;
    }
    // Layout the marker after the content.
    .event .marker {
      order: 1;
    }
    .event .content {
      // Make the content take 50% space so the marker
      // will be placed at 50% (on top of the line).
      width: 50%;
      // Event is to the left, align text towards the line.
      text-align: right;
      // Avoid overlap with the marker.
      padding-inline: 1em;
    }
    // For these types, move the event to the right.
    .event:is(.programming, .work, .projects) {
      // Layout the content and marker from right to left.
      flex-direction: row-reverse;

      // Now align text to the left.
      .content {
        text-align: left;
      }
      // We used to offset the marker from the left with -6px,
      // now we need to do it from the other side.
      .marker {
        left: 6px;
      }
    }
  }
}

.timeline-x .events {
  .event .marker {
    fill: var(--color-hr);
    order: 0;
    position: relative;
    left: -6px;
    flex-shrink: 0;
  }

  .content time {
    @include sans-serif;
    font-weight: bold;
  }

  .event:is(.family) .marker {
    fill: var(--melange_b_red);
  }

  .event:is(.life) .marker {
    fill: var(--melange_b_yellow);
  }

  .event:is(.hobbies) .marker {
    fill: var(--melange_c_yellow);
  }

  .event:is(.projects) .marker {
    fill: var(--melange_b_blue);
  }

  .event:is(.work) .marker {
    fill: var(--melange_b_green);
  }

  .event:is(.programming) .marker {
    fill: var(--melange_b_magenta);
  }
}

// Cutoff when we place the timeline in the middle and move some
// events to the left side.
@media (min-width: 700px) {
  // Expand the available area a bit.
  .timeline {
    @include overflow-bleed;
  }

  .timeline .events {
    // Place the horizontal line in the middle.
    &::before {
      left: 50%;
    }

    // Move marker to the middle.
    .event .marker {
      order: 1;
    }

    .event .content {
      // All content on one side (this is the left).
      width: 50%;
      text-align: right;
      padding-inline: var(--space-xs);
    }

    // Aligned to the right.
    .event:is(.programming, .work, .projects) {
      // This is enough to move everything over to the side.
      flex-direction: row-reverse;

      .marker {
        left: 6px;
      }

      .content {
        text-align: left;
      }
    }
  }
}
