@use "../global/fonts" as *;
@use "../global/font_size" as *;
@use "../global/melange" as *;
@use "../global/spacing" as *;
@use "../components/system" as *;

article {
  @include full-bleed-wrapper;

  /*
   * General setup
   */
  a {
    word-wrap: break-word;
  }

  @include flow;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    & > a:not(:first-of-type) {
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin-block-start: var(--space-m);
    }
  }

  .post-info,
  .series-info {
    @extend %sans-serif;
    @include font-size("s");
    gap: var(--space-3xs) var(--space-2xs);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
    margin-block-start: var(--space-3xs);
  }

  time a {
    text-decoration: none;
    color: var(--color-text);
  }
  time a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
  }

  .tag-links {
    @extend %sans-serif;
    @include font-size("s");
  }
  .tag-links a {
    color: var(--color-tags);
  }
  .tag-links a:hover {
    color: var(--color-tags-hover);
  }

  /*
   * Code
   */
  pre,
  code {
    font-family: $code-font-family;
    // Try to make the fonts have a similar size...
    font-size: var(--font-size-m-code);
  }

  pre code {
    padding: 0;
    width: 100%;
  }
  .code-wrapper.wide {
    @include overflow-bleed;
  }
  // pre.wide {
  //   @include overflow-bleed;
  // }
  pre {
    padding: var(--space-xs);
    overflow-wrap: normal;
    overflow: auto;
  }
  code {
    padding: 0.2rem;
    margin: 0;
  }

  /*
   * Quotes
   */
  blockquote {
    font-size: 95%;
    padding-inline-start: var(--space-m);
    padding-block: var(--space-2xs);
    @include flow;
  }
  & > blockquote {
    border-left: 3px solid var(--color-blockquote-bar);
  }
  .epigraph {
    margin-block: var(--space-l);
    font-style: italic;
  }
  blockquote > footer {
    font-size: 80%;
    text-align: right;
  }

  /*
   * Tables
   */
  table {
    @extend %serif;
    // Need tabular numbers to align properly
    font-feature-settings: "kern" on, "tnum" on;
  }
  th,
  td {
    padding: var(--space-3xs) var(--space-s) var(--space-3xs) 0;
  }

  // This is just for one single post
  table.movie-table {
    width: 100%;

    td:first-of-type {
      width: 25ch;
    }
  }
  table.center {
    margin: 0 auto;
  }

  /*
   * Horizontal rules
   */
  hr {
    // Remove article based spacing
    @include extra-space-m;
  }

  /*
   * Lists
   */
  ul,
  ol {
    list-style: none;
    margin-left: var(--space-m);
  }
  ol {
    counter-reset: ordered-counter;
  }
  // Consistent spacing between items
  ol,
  ul {
    @include flow();
  }
  // Consistent spacing inside items
  li {
    @include flow();
  }
  // Replace standard item bullets/numbers with our own
  // and add in some spacing.
  ol > li::before,
  ul > li::before {
    float: left;
    margin-left: calc(-1 * var(--space-m));
    color: var(--color-list-bullet);
  }
  ol > li::before {
    @extend %sans-serif;
    counter-increment: ordered-counter;
    content: counter(ordered-counter);
  }
  ul > li::before {
    @extend %sans-serif;
    content: "•";
  }

  /*
   * Images
   */
  img {
    max-width: 100%;
  }

  // This little beauty is here because once upon a time I was dumb,
  // and created some svg files with transparent backgrounds.
  // It's not great on a dark background when all text is also dark.
  @media (prefers-color-scheme: dark) {
    img {
      background-color: $melange_light_a_bg;
    }
  }

  figure figcaption {
    overflow-wrap: break-word;
  }

  figure {
    @include overflow-bleed;
    @include extra-space-s;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    figcaption {
      font-style: italic;
      width: 100%;
    }
  }

  // Multiple images share the same line and automatically flexes.
  // Caption is below and everything is centered.
  figure.flex-50,
  figure.flex-33,
  figure.flex-25,
  figure.flex-20 {
    & > * {
      padding-inline: 0.1em;
    }

    img {
      // Padding combined with background doesn't mesh well at all
      background-color: none;
    }
  }
  figure.flex-50 a,
  figure.flex-50 img {
    flex: 0 1 50%;
  }
  figure.flex-33 a,
  figure.flex-33 img {
    flex: 0 1 33%;
  }
  figure.flex-25 a,
  figure.flex-25 img {
    flex: 0 1 25%;
  }
  figure.flex-20 a,
  figure.flex-20 img {
    flex: 0 1 20%;
  }

  figure.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--space-3xs);
  }

  /*
   * Aside/notice
   */
  aside {
    @include extra-space-s;
    @include flow;
    font-size: 95%;
    background-color: var(--melange_a_float);
    padding: var(--space-xs);
    border: 1px dashed var(--melange_c_red);
  }

  /*
   * Pretty video embedding
   */
  .video-wrapper {
    @include overflow-bleed;
    --measure: 100%;
    @include extra-space-s;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
